:root {
    --salmon-3: #ffd6c2;
    --salmon-4: rgba(255, 214, 194, 0.8);
    --salmon-darkest: #882a00;

    --green-3: #d6e6b8;
    --green-4: rgba(214, 230, 184, 0.8);
    --green-5: rgba(214, 230, 184, 0.2);
    --green-6: rgba(214, 230, 184, 0.2);

    --black-gray: #767676;
    --mid-gray: #aaaaaa;
    --gray-light: #ececec;

    --logo-blue: #0f3d4c;
    --logo-green: #9bb36b;
}
