@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
        opacity: 1;
        /* Since FF19 lowers the opacity of the placeholder by default */
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@mixin reset {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: none;
    border: none;
    border-radius: 0;
}

@mixin mobile {
    @media screen and (max-width: 600px){
        @content;
    }
}