@font-face {
    font-family: "November";
    src: url("../fonts/WF-030306-010351-002151.woff") format("woff")
   }
   @font-face {
    font-family: "novemberHebrew";
    src: url("../fonts/WF-030306-010351-002151.woff") format("woff")
   }
   @font-face {
    font-family: "November Hebrew";
    src: url("../fonts/WF-030306-010351-002151.woff") format("woff")
   }
   @font-face {
    font-family: "montHeavy";
    src: url("../fonts/mont-heavy-1.woff2") format("woff2")
   }
   @font-face {
     font-family: "Mont heavy";
     src: url("../fonts/mont-heavy-1.woff2") format("woff2")
   }
    @font-face {
      font-family: "montRegular";
      src: url("../fonts/Mont-Regular.woff2") format("woff2")
    }